@import '../../../sass/mixins/others.scss';
@import '../../../sass/mixins/border.scss';
@import '../../../sass/constant/colors.scss';
@import '../../../sass/mixins/alignment.scss';


div.container {
    border-top: 1px solid green;
    width: 324px;
    height: 111px;
    background-color: $body-background;
    border-radius: 20px;
    color: $white-text-color;
    @include Flex(column);

    &:hover {
        opacity: 0.9;
    }

    & > div.numb {
        font-size: 35px;
    }

    & > div {
        padding: 10px;
        width: 100%;
        text-align: left;
    }

    & > div.description {
        font-size: 20px;
        padding-top: 0;
    }
}