$text-color: var(--text-color, black);
$background-color: var(--background-color, white);
$body-background: var(--body-background, black);
$footer-background: var(--footer-background, yellow);
$white-text-color: var(--black-text-color, white);
$footer-background: var(--footer-background, #FFE802)