$text-color: var(--text-color, black);
$background-color: var(--background-color, white);
$body-background: var(--body-background, black);
$footer-background: var(--footer-background, yellow);
$white-text-color: var(--black-text-color, white);
$footer-background: var(--footer-background, #FFE802);
$footer-list-color: var(--footer-list-color, #7F740E);
$footer-moving-text-color: var(--footer-moving-text-color, #1A1A1B);
$audit-card-description-text-color: var(--audit-card-description-text-color, #5D5C5D);
$audit-card-icon-bg-color: var(--audit-card-icon-bg-color, #3A3A3B);
$audit-card-bg-color: var(--audit-card-bg-color, #262627);
$header-icon-background-color: var(--header-icon-background-color, #F4F3ED);
$header-big-card-bg-color: var(--header-big-card-bg-color, #9F9E9D);
$icon-border-color: var(--icon-border-color, #F0F0F0);
$header-input-background-color: var(--header-input-background-color, #F6F6F6);